/* remove default margin and padding from body */
body {
    padding: 0;
    margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
    height: 100%;
}

#map {
    height: 500px;
    width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
}


.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: 'black';
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}